adlfs==2024.2.0 ; python_version >= "3.12" and python_version < "3.13"
aiobotocore==2.12.2 ; python_version >= "3.12" and python_version < "3.13"
aiohttp==3.9.3 ; python_version >= "3.12" and python_version < "3.13"
aioitertools==0.11.0 ; python_version >= "3.12" and python_version < "3.13"
aiosignal==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
annotated-types==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
anyio==4.3.0 ; python_version >= "3.12" and python_version < "3.13"
attrs==23.2.0 ; python_version >= "3.12" and python_version < "3.13"
azure-core==1.30.1 ; python_version >= "3.12" and python_version < "3.13"
azure-datalake-store==0.0.53 ; python_version >= "3.12" and python_version < "3.13"
azure-identity==1.15.0 ; python_version >= "3.12" and python_version < "3.13"
azure-storage-blob==12.19.1 ; python_version >= "3.12" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "3.13"
botocore==1.34.51 ; python_version >= "3.12" and python_version < "3.13"
cachetools==5.3.3 ; python_version >= "3.12" and python_version < "3.13"
certifi==2024.2.2 ; python_version >= "3.12" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "3.13"
chromedriver-autoinstaller==0.6.4 ; python_version >= "3.12" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.12" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13" and (platform_system == "Windows" or sys_platform == "win32")
cryptography==44.0.1 ; python_version >= "3.12" and python_version < "3.13"
cssselect==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
dataclasses-json==0.6.4 ; python_version >= "3.12" and python_version < "3.13"
decorator==5.1.1 ; python_version >= "3.12" and python_version < "3.13"
deprecated==1.2.14 ; python_version >= "3.12" and python_version < "3.13"
dirtyjson==1.0.8 ; python_version >= "3.12" and python_version < "3.13"
distro==1.9.0 ; python_version >= "3.12" and python_version < "3.13"
docx2txt==0.8 ; python_version >= "3.12" and python_version < "3.13"
feedfinder2==0.0.4 ; python_version >= "3.12" and python_version < "3.13"
feedparser==6.0.11 ; python_version >= "3.12" and python_version < "3.13"
filelock==3.13.3 ; python_version >= "3.12" and python_version < "3.13"
frozenlist==1.4.1 ; python_version >= "3.12" and python_version < "3.13"
fsspec==2024.3.1 ; python_version >= "3.12" and python_version < "3.13"
gcsfs==2024.3.1 ; python_version >= "3.12" and python_version < "3.13"
google-api-core==2.18.0 ; python_version >= "3.12" and python_version < "3.13"
google-api-python-client==2.125.0 ; python_version >= "3.12" and python_version < "3.13"
google-auth-httplib2==0.2.0 ; python_version >= "3.12" and python_version < "3.13"
google-auth-oauthlib==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
google-auth==2.29.0 ; python_version >= "3.12" and python_version < "3.13"
google-cloud-core==2.4.1 ; python_version >= "3.12" and python_version < "3.13"
google-cloud-storage==2.16.0 ; python_version >= "3.12" and python_version < "3.13"
google-crc32c==1.5.0 ; python_version >= "3.12" and python_version < "3.13"
google-resumable-media==2.7.0 ; python_version >= "3.12" and python_version < "3.13"
googleapis-common-protos==1.63.0 ; python_version >= "3.12" and python_version < "3.13"
greenlet==3.0.3 ; python_version >= "3.12" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.12" and python_version < "3.13"
html2text==2020.1.16 ; python_version >= "3.12" and python_version < "3.13"
httpcore==1.0.5 ; python_version >= "3.12" and python_version < "3.13"
httplib2==0.22.0 ; python_version >= "3.12" and python_version < "3.13"
httpx==0.27.0 ; python_version >= "3.12" and python_version < "3.13"
idna==3.6 ; python_version >= "3.12" and python_version < "3.13"
isodate==0.6.1 ; python_version >= "3.12" and python_version < "3.13"
jieba3k==0.35.1 ; python_version >= "3.12" and python_version < "3.13"
jmespath==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
joblib==1.3.2 ; python_version >= "3.12" and python_version < "3.13"
llama-index-agent-openai==0.2.2 ; python_version >= "3.12" and python_version < "3.13"
llama-index-cli==0.1.11 ; python_version >= "3.12" and python_version < "3.13"
llama-index-core==0.10.27 ; python_version >= "3.12" and python_version < "3.13"
llama-index-embeddings-azure-openai==0.1.6 ; python_version >= "3.12" and python_version < "3.13"
llama-index-embeddings-openai==0.1.7 ; python_version >= "3.12" and python_version < "3.13"
llama-index-indices-managed-llama-cloud==0.1.5 ; python_version >= "3.12" and python_version < "3.13"
llama-index-legacy==0.9.48 ; python_version >= "3.12" and python_version < "3.13"
llama-index-llms-azure-openai==0.1.5 ; python_version >= "3.12" and python_version < "3.13"
llama-index-llms-openai==0.1.14 ; python_version >= "3.12" and python_version < "3.13"
llama-index-multi-modal-llms-openai==0.1.4 ; python_version >= "3.12" and python_version < "3.13"
llama-index-program-openai==0.1.5 ; python_version >= "3.12" and python_version < "3.13"
llama-index-question-gen-openai==0.1.3 ; python_version >= "3.12" and python_version < "3.13"
llama-index-readers-file==0.1.13 ; python_version >= "3.12" and python_version < "3.13"
llama-index-readers-llama-parse==0.1.4 ; python_version >= "3.12" and python_version < "3.13"
llama-index-readers-web==0.1.8 ; python_version >= "3.12" and python_version < "3.13"
llama-index==0.10.27 ; python_version >= "3.12" and python_version < "3.13"
llama-parse==0.4.0 ; python_version >= "3.12" and python_version < "3.13"
llamaindex-py-client==0.1.16 ; python_version >= "3.12" and python_version < "3.13"
loguru==0.7.2 ; python_version >= "3.12" and python_version < "3.13"
lxml==5.2.1 ; python_version >= "3.12" and python_version < "3.13"
marshmallow==3.21.1 ; python_version >= "3.12" and python_version < "3.13"
msal-extensions==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
msal==1.28.0 ; python_version >= "3.12" and python_version < "3.13"
multidict==6.0.5 ; python_version >= "3.12" and python_version < "3.13"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
nest-asyncio==1.6.0 ; python_version >= "3.12" and python_version < "3.13"
networkx==3.2.1 ; python_version >= "3.12" and python_version < "3.13"
newspaper3k==0.2.8 ; python_version >= "3.12" and python_version < "3.13"
nltk==3.8.1 ; python_version >= "3.12" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "3.13"
oauthlib==3.2.2 ; python_version >= "3.12" and python_version < "3.13"
openai==1.16.2 ; python_version >= "3.12" and python_version < "3.13"
openssa==0.24.3.12 ; python_version >= "3.12" and python_version < "3.13"
outcome==1.3.0.post0 ; python_version >= "3.12" and python_version < "3.13"
packaging==24.0 ; python_version >= "3.12" and python_version < "3.13"
pandas==2.2.1 ; python_version >= "3.12" and python_version < "3.13"
pillow==10.3.0 ; python_version >= "3.12" and python_version < "3.13"
playwright==1.42.0 ; python_version >= "3.12" and python_version < "3.13"
portalocker==2.8.2 ; python_version >= "3.12" and python_version < "3.13"
proto-plus==1.23.0 ; python_version >= "3.12" and python_version < "3.13"
protobuf==4.25.3 ; python_version >= "3.12" and python_version < "3.13"
pyasn1-modules==0.4.0 ; python_version >= "3.12" and python_version < "3.13"
pyasn1==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13"
pycryptodome==3.20.0 ; python_version >= "3.12" and python_version < "3.13"
pydantic-core==2.16.3 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.6.4 ; python_version >= "3.12" and python_version < "3.13"
pyee==11.0.1 ; python_version >= "3.12" and python_version < "3.13"
pyjwt[crypto]==2.8.0 ; python_version >= "3.12" and python_version < "3.13"
pymupdf==1.24.1 ; python_version >= "3.12" and python_version < "3.13"
pymupdfb==1.24.1 ; python_version >= "3.12" and python_version < "3.13"
pyparsing==3.1.2 ; python_version >= "3.12" and python_version < "3.13"
pypdf==4.1.0 ; python_version >= "3.12" and python_version < "3.13"
pysocks==1.7.1 ; python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
pytz==2024.1 ; python_version >= "3.12" and python_version < "3.13"
pywin32==306 ; python_version >= "3.12" and python_version < "3.13" and platform_system == "Windows"
pyyaml==6.0.1 ; python_version >= "3.12" and python_version < "3.13"
regex==2023.12.25 ; python_version >= "3.12" and python_version < "3.13"
requests-file==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.12" and python_version < "3.13"
rsa==4.9 ; python_version >= "3.12" and python_version < "3.13"
s3fs==2024.3.1 ; python_version >= "3.12" and python_version < "3.13"
selenium==4.19.0 ; python_version >= "3.12" and python_version < "3.13"
sgmllib3k==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.12" and python_version < "3.13"
soupsieve==2.5 ; python_version >= "3.12" and python_version < "3.13"
sqlalchemy[asyncio]==2.0.29 ; python_version >= "3.12" and python_version < "3.13"
striprtf==0.0.26 ; python_version >= "3.12" and python_version < "3.13"
tenacity==8.2.3 ; python_version >= "3.12" and python_version < "3.13"
tiktoken==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
tinysegmenter==0.3 ; python_version >= "3.12" and python_version < "3.13"
tldextract==5.1.2 ; python_version >= "3.12" and python_version < "3.13"
tqdm==4.66.2 ; python_version >= "3.12" and python_version < "3.13"
trio-websocket==0.11.1 ; python_version >= "3.12" and python_version < "3.13"
trio==0.25.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.11.0 ; python_version >= "3.12" and python_version < "3.13"
typing-inspect==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "3.13"
uritemplate==4.1.1 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.0.7 ; python_version >= "3.12" and python_version < "3.13"
urllib3[socks]==2.0.7 ; python_version >= "3.12" and python_version < "3.13"
win32-setctime==1.1.0 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
wrapt==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
wsproto==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
yarl==1.9.4 ; python_version >= "3.12" and python_version < "3.13"
