# flake8.pycqa.org/en/latest/user/configuration.html
# flake8.pycqa.org/en/latest/user/options.html
[flake8]

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-count
count = True

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-exclude
# exclude = .svn,CVS,.bzr,.hg,.git,__pycache__,.tox,.nox,.eggs,*.egg

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-extend-exclude
extend-exclude =
  # virtual environments
  .venv/*,venv/*,

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-filename
filename = *.py

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-format
format = default

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-hang-closing
hang-closing = False

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-ignore
# ignore = E121,E123,E126,E226,E24,E704,W503,W504

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-extend-ignore
extend-ignore =
  # expected 2 blank lines
  E302,
  # line too long
  E501,
  # imported but unused
  F401,
  # constant imported as non-constant
  N811,
  # doc line too long
  W505,

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-max-line-length
max-line-length = 120

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-max-doc-length
max-doc-length = 120

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-indent-size
indent-size = 4

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-show-source
show-source = True

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-statistics
statistics = True

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-jobs
jobs = 8

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-doctests
doctests = True

# flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-max-complexity
max-complexity = 12
