# PYTHON & related
# ================
dist/
*.egg-info/
.ipynb_checkpoints/
.mypy_cache/
poetry.lock
__pycache__/
.pytest_cache/
.ropeproject/
.venv/


# DOCUMENTATION
# =============
docs/_build/


# ENVIRONMENT VARIABLES
# =====================
.env


# IDEs
# ====

# IntelliJ IDEA / PyCharm
.idea/

# Visual Studio Code
*.code-workspace


# MISC / OTHER
# ============
.DS_Store


# DATA & EXAMPLE FILES
# ====================
examples/**/*.json
.openssa/
test*.ipynb
*.pdf
examples/semiconductor/data/.text-embedding-3-large/default__vector_store.json
examples/semiconductor/data/.text-embedding-3-large/docstore.json
examples/semiconductor/data/.text-embedding-3-large/graph_store.json
examples/semiconductor/data/.text-embedding-3-large/image__vector_store.json
examples/semiconductor/data/.text-embedding-3-large/index_store.json
tmp/
