[MESSAGES CONTROL]

disable=
  attribute-defined-outside-init,
  duplicate-code,
  fixme,
  import-error,
  line-too-long,
  missing-class-docstring,
  missing-function-docstring,
  missing-module-docstring,
  raw-checker-failed,
  redefined-outer-name,
  too-few-public-methods,
  unnecessary-pass,
