[tool.poetry]
name = "openssa"
version = "0.1.6"

authors = ["Aitomatic, Inc. <engineering@aitomatic.com>"]
license = "Apache-2.0"

description = "OpenSSA - 'Small Specialist Agents' for Industrial AI"
readme = "README.md"

homepage = "https://openssa.org"
repository = "https://github.com/aitomatic/openssa"
documentation = "https://aitomatic.github.io/openssa"

keywords = [
  "Artificial Intelligence", "A.I.", "AI",
  "industrial",
  "specialist", "specialized",
  "domain", "expertise", "knowledge",
]
classifiers = [
]

packages = [
  {include = "openssa"},
]

include = [
]
exclude = [
]


[tool.poetry.group.dev.dependencies]
ipykernel = ">=6.27"

[tool.poetry.group.docs.dependencies]
mkdocs = ">=1.5"
mkdocs-custommill = ">=1.3"
mkdocs-material = ">=9.4"
mkdocs-windmill = ">=1.0"
mkdocstrings = {version = ">=0.24", extras=["crystal", "python"]}

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
# OpenAI & related
openai = ">=1.3"
# LlamaIndex & related
llama-index = ">=0.9"
llama-hub = ">=0.0.50"
docx2txt = ">=0.8"  # for reading .docx files
pypdf = ">=3.17"  # for reading .pdf files
pycryptodome = ">=3.19"  # for reading .pdf files: PyCryptodome is required for AES algorithm
# file systems
fsspec = ">=2023.10,<2013.12"  # base/local file system
# adlfs = ">=2023.10,<2013.12"  # Azure Data Lake
# gcsfs = ">=2023.10,<2013.12"  # Google Cloud Storage
s3fs = ">=2023.10,<2013.12"  # S3
# misc / other
pydantic = ">=2.5"
python-dotenv = ">=1.0"
httpx = ">=0.25"
google-api-python-client = ">=2.109"

# optional dependencies required by extras
pytest = {version = ">=7.4", optional = true}
pillow = {version = ">=9.5", optional = true}
python-pptx = {version = ">=0.6", optional = true}
torch = {version = ">=2.0", optional = true}
transformers = {version = ">=4.35", optional = true}

[tool.poetry.extras]
test = [
  'pytest',
]
cv = [  # for processing images either standalone or in files such as .PPTX
  "pillow",
  "python-pptx",
  "torch",
  "transformers",
]


[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core >= 1.8",
]


[tool.pytest.ini_options]
addopts = [
  "--import-mode=importlib",
]
filterwarnings = [
  "ignore:pkg_resources is deprecated as an API:DeprecationWarning",
  "ignore:Deprecated call to `pkg_resources.declare_namespace.*google.*:DeprecationWarning",
]
