<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css', v='0.2') }}">
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">
    <title>OpenSSM</title>
</head>

<body>
    <header>
        <h1>OpenSSM Knowledge-Base Sandbox v0.0.3</h1>
        <label for="models">Choose a model:</label>
        <select id="models" name="models">
            <option value="llama_index" selected>Passthrough LlamaIndex</option>
            <option value="gpt3_completion">GPT-3.5 Completion</option>
            <option value="gpt3_chat_completion">GPT-3.5 Chat Completion</option>
            <option value="falcon7b">Falcon 7B</option>
        </select>
    </header>
    <main>
        <!-- User activity -->
        <div class="column">
            <!-- Chat window -->
            <div class="box" id="chatbox" placeholder="Chat conversation...">Chat conversation...</div>
            
            <!-- User input box -->
            <textarea class="box" id="inputbox" rows="3" placeholder="Type your message..."></textarea>
            
            <div id="loading" class="d-none">
                <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
            </div>
        </div>
        <!-- System activity -->
        <div class="column">
            <!-- System log -->
	    <div class="box" id="syslog">System log:</div>

	    <!-- File upload form -->
	    <form class="box" id="file-upload-form" action="/upload" method="post" enctype="multipart/form-data">
            <input type="button" id="upload-file-button" value="Upload Knowledge File">
            <input title="file" type="file" id="file" style="width:50%;" name="file">
	    </form>

	    <!-- Knowledge input form -->
	    <form class="box" id="knowledge-input-form" action="/knowledge" method="post">
            <textarea id="knowledge" name="knowledge" placeholder="Paste your knowledge here..."></textarea>
            <input type="button" id="send-text-button" value="Send to Knowledge Base">
	    </form>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/discuss.js', v='0.4') }}"></script>
    <script src="{{ url_for('static', filename='js/knowledge.js', v='0.4') }}"></script>
</body>

</html>
