body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    background: #2980b9;
    color: #fff;
    width: 100%;
    border-bottom: 1px solid #2980b9;
}

header label, header select {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
}

header select {
    color: #333;
}

main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    height: 60vh;
}

.pane {
    flex: 1;
    background: #ecf0f1;
    color: #2c3e50;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 10%);
    height: 60vh;
}

.box {
    height: 100%;
    width: 100%;
    background: #fff;
    color: #2c3e50;
    border: 1px solid #bdc3c7;
    padding: 10px;
    overflow: auto;  /* Will cause a scrollbar to appear when necessary */
    box-sizing: border-box;
    resize: none;
}

#chatbox {
    height: 80%;
}

#inputbox {
    height: 20%;
    margin-top: 10px;
}

#syslog {
    font-family: 'Courier New', Courier, monospace
}

#inputbox::placeholder {
    color: #bdc3c7;
}

select {
    background: #fff;
    color: #2c3e50;
    border: 1px solid #bdc3c7;
    padding: 5px;

}

#loading {
    position: absolute;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.SYSTEM {
    font-style: italic;
}

.USER {
    font-weight: bold;
}

.SSM {
}
