font-family: 'DM Mono', monospace;
font-family: 'DM Sans', sans-serif;

body {
    background: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    color: #0A0B0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    background: #fff;
    color: #0A0B0D;
    width: 100%;
    border-bottom: 1px solid #5B616E;
}

header label, header select {
    display: inline-block;
    margin-top: 12px;
    color: #fff;
}

header select {
    color: #0A0B0D;
}

main {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 24px;
}

.column {
    flex: 1;
    padding: 16px;
    border: 1px solid #5B616E;
    border-radius: 10px;
    padding: 24px;
    margin: 16px;
    height: 60vh;
}

.pane {
    flex: 1;
    background: #fafafa;
    color: #5B616E;
    border-radius: 10px;
    height: 60vh;
}

.box {
    height: 100%;
    width: 100%;
    background: #fff;
    color: #0A0B0D;
    border: 1px solid #5B616E;
    padding: 10px;
    overflow: auto;  /* Will cause a scrollbar to appear when necessary */
    box-sizing: border-box;
    resize: none;
}

#chatbox {
    height: 80%;
}

#inputbox {
    height: 20%;
    margin-top: 12px;
}

#syslog {
    font-family: 'DM Mono', monospace;
}

#inputbox::placeholder {
    color: #fafafa;
}

select {
    background: #fff;
    color: #0A0B0D;
    border: 1px solid #5B616E;
    padding: 8px;

}

#loading {
    position: absolute;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.SYSTEM {
    font-style: normal;
}

.USER {
    font-weight: bold;
}

.SSM {
    font-style: normal;
}
