name: Install Package, Lint Code & Run Tests on Windows

on:
  push:
    branches:
      - "*"

  pull_request:
    branches:
      - "*"

jobs:
  install-lint-test-on-win:
    runs-on: windows-latest

    strategy:
      matrix:
        python-version:
          - '3.10'
          - 3.11

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: .\make get-poetry

      - name: Install Package & Dependencies
        run: .\make install

      - name: Lint Code
        run: .\make lint

      - name: Run Tests
        run: .\make test
        env:
          LEPTON_API_KEY: ${{ secrets.LEPTON_API_KEY }}
