name: Release Distribution on PyPI

on:
  push:
    tags:
      - '*'

jobs:
  pypi-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install Poetry
        run: make get-poetry

      - name: Build Distribution
        run: poetry build

      - name: Publish Distribution
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
